.titulli {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 5px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px grey;
    position: relative;
}

.content-table thead tr {
    background-color: grey;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: rgb(187, 187, 187);
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid grey;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}

.nishi,
.treshi {
    color: black;
    font-weight: bold;
}

.katershi {
    background-color: grey;
    color: black;
    font-weight: bold;
}

.content-table2 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px grey;
    position: relative;
    margin-left: 3%;
}

.content-table2 thead tr {
    background-color: grey;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table2 th,
.content-table2 td {
    padding: 12px 15px;
}

.content-table2 tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table2 tbody tr:nth-of-type(even) {
    background-color: rgb(187, 187, 187);
}

.content-table2 tbody tr:last-of-type {
    border-bottom: 2px solid grey;
}

.content-table2 tbody tr.active-row {
    font-weight: bold;
    color: black;
}

.cift {
    color: black;
}

.tek {
    background-color: grey;
    color: black;
    font-weight: bold;
}

.meimiri {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: relative;
    float: left;
    margin-left: 12%;
}

.meimiri2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: relative;
    float: center;
    margin-left: 12%;
}

td {
    position: relative;
    text-align: center;
}

.center {
    position: relative;
    float: left;
    width: 47%;
    margin: 1em;
}

.content-table {
    margin-left: 20%;
    margin-bottom: 10em;
    float: left;
    box-sizing: border-box;
}

.content-table2 {
    margin-right: 15%;
    margin-bottom: 10em;
    float: right;
    box-sizing: border-box;
}

.footer {
    position: bottom;
    margin-top: 300px;
    color: black;
}

.hrzi {
    color: black;
}

.active-row {
    color: black;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 99%;
    height: 170vh;
    overflow-y: hidden;
}

.partners {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.partners img {
    max-height: 22em;
}

.partner-container {
    width: 26em;
    height: 22em;
    perspective: 400em;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front,
.flip-card-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.partner-container:hover .flip-card-back {
    transform: rotateY(0deg);
}

.partner-container:hover .flip-card-front {
    transform: rotateY(180deg);
}

.flip-card-front {
    z-index: 2;
    color: black;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    transform: rotateY(-180deg);
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card-back p {
    margin: 0 20px;
}

.autori p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: -2em;
    font-size: 1.3em;
    border-bottom: 2px solid black;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: grey;
}

#elaborimi {
    color: black;
    font-size: 0.65em;
    font-family: "Arnhem", Times, Courier, serif;
}

.djathtas a,
.majtas a {
    font-family: "Arnhem", Times, Courier, serif;
}

.row {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.5em;
}

.row2 {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
}

.majtasposht a:hover {
    transition: 0.6s ease;
}

.row5pjesepjese {
    display: grid;
    align-items: center;
}

.perberja {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.8em;
    justify-content: space-around;
}

.subfooternalt {
    padding: 0em 8em 3em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.8em;
    justify-content: space-around;
    border-bottom: 1px solid #D9D9D9;
}

.subfooternalt span {
    font-family: "Arnhem", Times, Courier, serif;
    font-size: 1.7em;
}

#emailinput {
    width: 16.7em;
    height: 2em;
}

#emailform {
    display: flex;
    float: left;
}

.dergo {
    padding-left: 1em;
}

input[type="submit"] {
    height: 3.6em;
    width: 10em;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D9D9D9;
    border: none;
}

input[type="submit"]:hover {
    color: red;
}

input[type=email] {
    font-size: 1.5em;
}

.buton {
    height: 3.6em;
    width: 10em;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D9D9D9;
    border: none;
}

#h5 {
    margin-top: 0.5em;
    color: #0075ff;
}

.buton:hover {
    color: red;
}

#emailinput::placeholder {
    font-size: 1em;
    padding-left: 0.5em;
}

.subfooterposht {
    padding: 4em 3em 2em 3em;
    display: -webkit-flex;
    display: flex;
    float: left;
    column-gap: 1em;
    justify-content: space-between;
}

.sbkol2 {
    -webkit-flex: 0.2;
    float: left;
    -ms-flex: 0.2;
    flex: 0.2;
    text-align: center;
}

.futeri {
    height: 9em;
    background-color: black;
}

.sbkol3 {
    color: white;
    -webkit-flex: 2;
    float: left;
    -ms-flex: 2;
    flex: 2;
    text-align: center;
}

.sbkol33 {
    color: white;
    -webkit-flex: 5;
    float: left;
    -ms-flex: 5;
    flex: 5;
    text-align: center;
}

.sbkol2 ul {
    list-style: none;
}

#spansbkol2 {
    color: black;
}

.sbkol2 ul a:link {
    text-decoration: none;
    color: black;
}

.sbkol2 ul a:visited {
    text-decoration: none;
    color: gray;
}

.sbkol2 ul a:hover {
    color: red;
}

.kolona1p {
    background-color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: initial;
}

#kolona1pp {
    font-family: fontivogel;
    font-size: 1.2em;
}

.row3 {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 0.5em;
    justify-content: space-around;
}

.futerimrena {
    padding: 0em 6em 0em 6em;
    display: -webkit-grid;
    display: grid;
}

.futerimamrena {
    padding: 4em 3em 2em 3em;
    display: -webkit-flex;
    display: flex;
    float: left;
    column-gap: 7em;
    align-items: center;
}

.row4,
.row5,
.row6 {
    padding: 4em 6em 0em 6em;
    display: -webkit-grid;
    display: grid;
}

.row4 a {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: black;
}

.shortcutposht {
    display: block;
    text-align: center;
}

.row4 a:hover {
    color: red;
    text-decoration: none;
}

.kolona1,
.kolona2 {
    background-color: white;
    -webkit-flex: 0.5;
    -msb-flex: 0.5;
    flex: 0.5;
}

.kolona3 {
    background-color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.kolonarresht {
    padding: 1.5em 0em;
    border-top: 0.5em solid #000;
    border-bottom: 0.5em solid #000;
    -webkit-flex: 10;
    -ms-flex: 10;
    flex: 10;
}

.shortcuts {
    padding: 1.5em 0em;
    border-top: 0.5em solid #000;
    border-bottom: 0.5em solid black;
}

.bs {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1em;
    padding: 1.7em;
    display: grid;
    text-align: center;
}

@font-face {
    font-family: fontivogel;
    src: url(klim.co.nz/retail-fonts/calibre);
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#sinaniposht {
    padding-top: 0.1em;
    font-family: "Arnhem", Times, Courier, serif;
    font-size: 1.4em;
    letter-spacing: 0.1em;
}

#katalogu {
    color: black;
    text-decoration: none;
}

.sbkol3 a:link {
    color: white;
}

.sbkol3 a:visited {
    color: white;
}

.sbkol3 a:hover {
    color: red;
}

#socialmedia {
    font-size: 2em;
}

#suxhuki {
    font-size: 0.8em;
}