.extras{
    display:block;
    border:1px solid black;
    padding-left:0.7em;
}

.butoneci{
    width:5em;
    height:3em;
}

.cw {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.canvasi{
    display:block;
    align-items: center;
    border:1px solid black;

}

.butonicanvas{
    width:8em;
    height: 4em;
}

.ditanata {
    font-size: 4em;
  }