.superextra{
    display:grid;
    border:1px solid black;
    padding-left:0.7em;
}

.butoneci{
    width:5em;
    height:3em;
}

#cw {
   
    position: relative;
    width: 30em ;
    height: 18em ;
    overflow: scroll;
}

.canvasi{
    display:flex;
    align-items: center;
    border:1px solid black;

}

.butonicanvas{
  
    width:8em;
    height: 4em;
}

.ditanata {
    font-size: 4em;
  }