* {
  box-sizing: border-box;
}

body{
  background-color: white;
}
.pjesa1 {
  margin: 100px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  height: 260px;
  background-color: #393e46;
  height: 380px;
  border-color: red;
  background-size: cover;
  background-size: 1350px;
}

.pjesa2{
  display: inline-block;
}

.r1 {
  margin-top: 0;
  padding-top: 20px;
  font-family: 'Holtwood One SC', serif;
  font-weight: 600;
font-size: 562%;
}

.r2 {
position: relative;
bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.hapsiraFormular{
  background-color: #dddddd;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px ;
 border-radius: 4px;
}

 .shkrimi{
   border: 2px solid: blue;
 }


.ButoniDergo{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.DergoEmail{
float: right;
}

.mapa{
position: relative;
left: 700px;
bottom: 400px;

}


body {
  margin: 0;
}

.sinanibabo {
  display: flex;
  justify-content: center;
}

.logoja {
  display: inline-grid;
  justify-content: center;
}

.titulli {
  color: white;
  font-size: 1.45em;
}

.titulli:hover {
  color: red;
}

.header {
  background-color: black;
  height: 1.25em;
  color: white;
  text-decoration: none;
}

.djathtas {
  display: grid;
  align-content: space-between;
}

.majtas {
  align-content: space-between;
  display: grid;
}

.topnav {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0px;
  background-color: black;
  border: 2px solid;
}

.topnav a {
  font-size: 1.45em;
  color: #f2f2f2;
  padding: 0px 30px;
  text-decoration: none;
}

.topnav a:hover {
  color: red;
}

.djathtasposht a.menu-item {
  transform: scale(1);
  display: inline-block;
  transition: 0.5s;
}

.djathtasposht a.menu-item.hide-item {
  transform: scale(0);
}

#one {
  transition-delay: 0.2s;
}

#two {
  transition-delay: 0.1s;
}

#three {
  transition-delay: 0s;
}

.search-form {
  position: absolute;
  top: 8em;
  right: 28em;
  transform: translateX(-50%);
  width: 2em;
  height: 1em;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
}

.search-form.active {
  position: absolute;
  top: 8em;
  right: 28em;
  width: 2em;
  height: 1em;
  opacity: 1;
  transition-delay: 0.4s;
  visibility: visible;
  background: transparent;
}

.search-form input {
  width: 20em;
  height: 1.5em;
  color: white;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1em;
}

.futeri {
    height: 9em;
    background-color: black;
}

.futerimrena {
    padding: 0em 6em 0em 6em;
    display: -webkit-grid;
    display: grid;
}

.futerimamrena {
    padding: 4em 3em 2em 3em;
    display: -webkit-flex;
    display: flex;
    float: left;
    column-gap: 7em;
    align-items: center;
}
