.kycunidiv{
    padding: 4em 6em 4em 6em;
    box-sizing: border-box; 
    width: 100%; 
    display: grid;
    align-content: center; 
    align-items: center; 
}
#kycuforma{
    align-self: center;
}
.kycunimrena{
    padding-top: 2em;
    width: 20em;
}

#rrite{
    font-size: 1.3em;
    padding: 0.1em 0.2em 0.1em 0.2em;
}

#kycuu{
  height: 2.5em;
  width: 5em;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d9d9d9;
  border: none;
}


#kycuu:hover {
    color: #0075ff;
  }

#qek{
    font-size: 0.6em;
}

.psww{
    font-size: 0.9em;
}
.harrovapsw{
    padding-top: 0.3em;
}
.harrovapsw a:visited{
    color: gray;
    text-decoration: none;
}
.harrovapsw a:hover{
    color:#0075ff;
    text-decoration: none;
}
.harrovapsw a:link{
    color:black;
    text-decoration: none;
}

#kycuforma {    
    margin: auto;
    width: 20em; 
    
}


.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: white;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 98%;
    height: 3em;
  }
  
  input[type=checkbox]{
    margin-top: 0.5em;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 0.5em;
    cursor: pointer;
    background-color: white; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  .buton {
    height: 3.6em;
    width: 10em;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D9D9D9;
    border: none;
  }
  
  #h5 {
    margin-top: 0.5em;
    color: #0075ff;
  }
  
  .buton:hover {
    color: #0075ff;
  }