.logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .djathtas a, .majtas a {
    font-family: "Arnhem", Times, Courier, serif;
  }

  body {
    margin: auto;
  }

  .biblioteka {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    margin-top: 2em;
  }

  .navigationbar {
    margin: auto;
    width: 75em;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1em 3em 6em 18em 0em 1em 3em 0em;
    overflow: hidden;
  }

  .navigationbar li {
    display: inline;
    color: white;
  }

  .navigationbar a {
    float: left;
    display: grid;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }

  .navigationbar a:hover {
    color: #0075ff;
  }

  .navigationbar input {
    width: 1em;
    height: 1.3em;
  }

  .row5pjesepjese {
    display: grid;
    align-items: center;
  }

  .perberja {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.8em;
    justify-content: space-around;
  }

  .subfooternalt {
    padding: 0em 8em 3em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.8em;
    justify-content: space-around;
    border-bottom: 1px solid #D9D9D9;
  }
  
  .subfooternalt span {
    font-family: "Arnhem", Times, Courier, serif;
    font-size: 1.7em;
  }
  
  #emailinput {
    width: 16.7em;
    height: 2em;
  }
  
  #emailform {
    display: flex;
    float: left;
  }
  
  .dergo {
    padding-left: 1em;
  }
  
  input[type="submit"] {
    height: 3.6em;
    width: 10em;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D9D9D9;
    border: none;
  }
  
  input[type="submit"]:hover {
    color: #0075ff;
  }
  
  input[type=email] {
    font-size: 1.5em;
  }
  
  .buton {
    height: 3.6em;
    width: 10em;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D9D9D9;
    border: none;
  }

  #h5 {
    margin-top: 0.5em;
    color: #0075ff;
  }
  
  .buton:hover {
    color: #0075ff;
  }
  
  #emailinput::placeholder {
    font-size: 1em;
    padding-left: 0.5em;
  }
  
  .subfooterposht {
    padding: 4em 3em 2em 3em;
    display: -webkit-flex;
    display: flex;
    float: left;
    column-gap: 1em;
    justify-content: space-between;
  }
  
  .sbkol2 {
    -webkit-flex: 0.2;
    float: left;
    -ms-flex: 0.2;
    flex: 0.2;
    text-align: center;
  }
  
  
  .futeri{
    height:9em;
    background-color: black;
  }
  
  .sbkol3{
    color:white;
    -webkit-flex: 2;
    float: left;
    -ms-flex: 2;
    flex: 2;
    text-align: center;
  }
  
  .sbkol33{
    color:white;
    -webkit-flex: 5;
    float: left;
    -ms-flex: 5;
    flex: 5;
    text-align: center;
  }
  
  .sbkol2 ul {
    list-style: none;
  }
  
  #spansbkol2 {
    
    color: black;
  }
  
  .sbkol2 ul a:link {
    text-decoration: none;
    color:black;
  }
  
  .sbkol2 ul a:visited {
    text-decoration: none;
    color: gray;
  }
  
  .sbkol2 ul a:hover {
    color: #0075ff;
  }
  
  .kolona1p {
    background-color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: initial;
  }
  
  #kolona1pp {
    font-family: fontivogel;
    font-size: 1.2em;
  }
  
  .row3 {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 0.5em;
    justify-content: space-around;
  }
  
  .futerimrena{
    padding: 0em 6em 0em 6em;
    display: -webkit-grid;
    display: grid;
  
  }
  
  .futerimamrena{
    padding: 4em 3em 2em 3em;
    display: -webkit-flex;
    display: flex;
    float: left;
    column-gap: 7em;
    align-items: center;
  }
  
  .row4, .row5, .row6 {
    padding: 4em 6em 0em 6em;
    display: -webkit-grid;
    display: grid;
  }
  
  .row4 a {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: black;
  }
  
  .shortcutposht {
    display: block;
    text-align: center;
  }

  .row4 a:hover {
    color: #0075ff;
    text-decoration: none;
  }
  
  .kolona1, .kolona2 {
    background-color: white;
    -webkit-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
  }
  
  .kolona3 {
    background-color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .kolonarresht {
    padding: 1.5em 0em;
    border-top: 0.5em solid #000;
    border-bottom: 0.5em solid #000;
    -webkit-flex: 10;
    -ms-flex: 10;
    flex: 10;
  }
  
  .shortcuts {
    padding: 1.5em 0em;
    border-top: 0.5em solid #000;
    border-bottom: 0.5em solid black;
  }

  .bs {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1em;
    padding: 1.7em;
    display: grid;
    text-align: center;
  }

  

  #lajmekuq {
    color: #0075ff;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
  }
  
  #lajmekuq5 {
    color: #0075ff;
    font-family: Helvetica;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 0.35em;
    text-transform: uppercase;
  }
  
  .title {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 5px;
    text-align: center;
  }

* {
    box-sizing: border-box
  }
  
  .gridat{
    position:center;
  }
  
  .lajmet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(14em, auto);
    grid-gap: 3.5em;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j";
    margin: auto;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
  }

 
  .gridi1{
    grid-area: a;
  }

  .gridi2{
    grid-area: b;
  }

  .gridi3{
    grid-area: c;
  }

  .gridi4{
    grid-area: d;
  }

  .gridi5{
    grid-area: e;
   
  }

  .gridi6{
    grid-area: f;
    
  }

  .gridi7{
    grid-area: g;
   
  }

  .gridi8{
    grid-area: h;
   
  }

  .gridi9{
    grid-area: j;
   
  }

  .gridi10{
    grid-area: i;
   
  }

 
  .lajmet {
    width: auto;
    float: none;
    position: center;
    flex-direction: column;
  }

  .lajmet p {
    width: 95%;
    color: black;
    font-family: "Arnhem", Times, Courier, serif;
    font-size: 1.1em;
    display: block;
    margin-left: 1em;
    margin-top: 1.5em;
    line-height: 1.5em;

  }

  .lista {
      width: 95%;
      color: black;
      text-decoration: underline;
      font-size: 1em;
      display: block;
      margin-left: 1em;
      line-height: 20px;
    
  }
 

  .ardy{
    border:2px solid black;
    border-radius: 1.2em;
    box-shadow: 2px 2.5px 3px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inline 0 0 0.2em grey;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.247) 20%,rgba(239, 238, 248, 0.37) 75%, rgba(209, 216, 218, 0.329) 5%);
    writing-mode:horizontal-tb;
    padding:0.5em;
  }


  .ardy img {
    float: left;
    width: 20.5em;
    height: 12.1em;
    border-radius: 1em;
    margin-bottom:0.4em;
    margin-top:0.4em;
    margin-left:0.4em;
    margin-right:0.6em;
  }
  
  .titulli1 {
    display: inline;
    color: black;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 100%;
    font-size: 1.6em;
    font-weight: bold;
    
  }

  
  
  .lyst {
    border: 1px solid lightgrey;
    border-radius: 25px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.568), rgba(0, 0, 0, 0.021));
    width: 17.2em;
    height: 3em;
    margin:auto;
    margin-top:3em;
    padding-bottom: 0em;
    padding-top:0em;
  }

  .lyst a {
    opacity:65%;
    text-align:center;
    text-decoration:none;
    font-size:1.5em;
    float: top 5em;
    line-height:0px;
    
  }

  .lyst a:link {
    opacity:100%;
    color: black;
  }

  .lyst a:visited {
    opacity:100%;
    color: #0075ff;
  }

  .lyst a:hover {
    opacity:100%;
    color: #0075ff;
  }

  #fototmodal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  #fototmodal:hover {
    opacity: 0.7;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    all:none;
    float:none !important;
    background-color:white;
    margin-left:26.8vw !important;
    margin-top:0.2em !important;
    display: block !important;
    min-height: 50%;
    min-width: 46%;
    max-width: 46%;
  }

  
  .tekstimodal{
    min-width: 46%;
    max-width: 46%;
    margin:auto !important;
    border-radius:15px;
    display:block !important ;
    background-color: white;
    color:black;
    margin-top:30em;
    text-align:center;
  }

  

  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0)
    }
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
 
  #sinaniposht {
    padding-top: 0.1em;
    font-family: "Arnhem", Times, Courier, serif;
    font-size: 1.4em;
    letter-spacing: 0.1em;
  }
  
  #katalogu {
    color: black;
    text-decoration: none;
  }
  
  .sbkol3 a:link{
  color:white;
  }
  .sbkol3 a:visited{
    color:white;
  }
  .sbkol3 a:hover{
    color:#0075ff;
  }
  
  #socialmedia{
    font-size: 2em;
  }
  
  #suxhuki{
    font-size: 0.8em;
  }
  
  
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 98%;
  height: 3em;
}

input[type=checkbox]{
  margin-top: 0.5em;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 0.5em;
  cursor: pointer;
  background-color: white; 
  border-bottom: 1px solid #d4d4d4; 
}

.buton {
  height: 3.6em;
  width: 10em;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #D9D9D9;
  border: none;
}

#h5 {
  margin-top: 0.5em;
  color: #0075ff;
}

.buton:hover {
  color: #0075ff;
}