.logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  body {
    max-width: 1500px;
    margin: auto;
  }

  .biblioteka {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    margin-top: 2em;
  }

  .navigationbar {
    margin: auto;
    width: 75em;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1em 3em 6em 18em 0em 1em 3em 0em;
    overflow: hidden;
  }

  .navigationbar li {
    display: inline;
    color: white;
  }

  .navigationbar a {
    float: left;
    display: grid;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }

  .navigationbar a:hover {
    color: red;
  }

  .navigationbar input {
    width: 1em;
    height: 1.3em;
  }

  .titulli {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
  }

* {
    box-sizing: border-box
  }
  
  .lajmet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(4em, 3);
    grid-gap: 3.5em;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j"
    "k l";
    margin: auto;
    margin-top: 2em;
  }

 
  .gridi1{
    grid-area: a;
  }

  .gridi2{
    grid-area: b;
  }

  .gridi3{
    grid-area: c;
  }

  .gridi4{
    grid-area: d;
  }

  .gridi5{
    grid-area: e;
   
  }

  .gridi6{
    grid-area: f;
    
  }

  .gridi7{
    grid-area: g;
   
  }

  .gridi8{
    grid-area: h;
   
  }

  .gridi9{
    grid-area: i;
   
  }

  .gridi9{
    grid-area: j;
   
  }

  .usage a {
    width: 10em;
    display: flex;
    float: left;
    color: white;
    font-size: 17px;
    text-decoration: none;
  }
  

  .lajmet {
    width: auto;
    float: none;
    position: center;
    flex-direction: column;
  }

  .lajmet p {
    width: 95%;
    color: white;
    font-size: 15px;
    display: block;
    margin-left: 0.5em;
    line-height: 20px;
  }


 

  .ardy{
    border:1px solid white;
    border-radius: 10px;
    writing-mode:horizontal-tb;
    padding:3px;
  }


  .lajmet img {
    float: inline-start;
    width: 9em;
    height: 5.6em;
    margin-bottom:0.1em;
    margin-top:0.4em;
    margin-left:0.4em;
    margin-right:0.3em;
  }
  
  .ardy span {
    color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 100%;
    font-size: 1.4em;
    font-weight: bold;
    
  }

  footer {
    position: absolute;
    left: -10px;
    width: 100%;
    padding: 58px 68px 20px 50px;
    color: white;
    background-color: #1A1E25;
  }
  
  footer:hover {
    color: red;
  }