/* * {
    overflow-x: hidden;
} */

* {
    scroll-behavior: smooth;
}

  .librat {
    padding: 0em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.5em;
  }

  .librattitulli {
    color: black;
    padding: 0.75em;
text-align: center;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 3em;
  }


  .liber img {
    border-top: 0.4em solid black;
    padding-top: 0.75em;
    width: 90%;
    margin-left: 1em;
    max-height: 25em;
  }

  .liber {
    background-color: white;
    -webkit-flex: 0.8;
    -ms-flex: 0.8;
    flex: 0.8;
  }

.slider1 {
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.titulli-slider {
    width: 100%;
    display: flex;
    height: 20%;
    text-align: center;
    justify-content: center;
}

.liber{
  position: relative;
  display: inline-block;
}



.ratingu{
  position: absolute;
  transition: all 0s ;
  opacity: 0;

}



.yjet{
  position: relative;

  transform: translate(-50%, -50%);
}
 .liber:hover .imagee  {

  opacity: 0.5;
}

.liber:hover .ratingu{
  opacity: 1;
  left: 50%;
bottom: 50%;

}

.librattitullii {

  color: black;

text-align: center;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
}

.item-1,
.item-2,
.item-3 {
    position: absolute;
    margin-top: 100px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    max-width: 9em;
    width: 9em;
    font-size: 2em;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1 {
    animation-name: anim-1;
}

.item-2 {
    animation-name: anim-2;
}

.item-3 {
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%,
    8.3% {
        left: -100%;
        opacity: 0;
    }
    8.3%,
    25% {
        left: 56.5%;
        opacity: 1;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    33.33%,
    100% {
        left: 75%;
        opacity: 0;
    }
}

@keyframes anim-2 {
    0%,
    33.33% {
        left: -100%;
        opacity: 0;
    }
    41.63%,
    58.29% {
        left: 53%;
        opacity: 1;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    66.66%,
    100% {
        left: 75%;
        opacity: 0;
    }
}

@keyframes anim-3 {
    0%,
    66.66% {
        left: -100%;
        opacity: 0;
    }
    74.96%,
    91.62% {
        left: 51.5%;
        opacity: 1;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    100% {
        left: 75%;
        opacity: 0;
    }
}


.autocomplete {
    position: relative;
    display: inline-block;
  }

  input {
    border: 1px solid transparent;
    background-color: white;
    padding: 10px;
    font-size: 16px;
  }

  input[type=text] {
    background-color: #f1f1f1;
    width: 98%;
    height: 3em;
  }

  input[type=checkbox]{
    margin-top: 0.5em;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 0.5em;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #d4d4d4;
  }

  .buton {
    height: 3.6em;
    width: 10em;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D9D9D9;
    border: none;
  }

  #h5 {
    margin-top: 0.5em;
    color: #0075ff;
  }

  .buton:hover {
    color: #0075ff;
  }
