.logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

body {
    max-width: 1250px;
    margin: auto;
}

.biblioteka {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    margin-top: 2em;
}

.navigationbar {
    margin: auto;
    width: 75em;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1em 3em 6em 18em 0em 1em 3em 0em;
    overflow: hidden;
}

.navigationbar li {
    display: inline;
    color: white;
}

.navigationbar a {
    float: left;
    display: grid;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.navigationbar a:hover {
    color: red;
}

.navigationbar input {
    width: 1em;
    height: 1.3em;
}

.titulli {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
}

.autort {
    color: white;
    float: left;
    box-sizing: border-box;
    margin: 5px;
    position: relative;
}

.autori1 {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 0.2em;
    font-size: 20px;
}

.autort p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}

.autort h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.titulli {
    text-align: center;
}

.autort img {
    height: 200px;
    float: left;
    padding-right: 01.3em;
    margin-bottom: 18px;
}

.veprat {
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: relative;
    margin-top: 30px;
    color: white;
}