* {
    scroll-behavior: smooth;
}

main {
    width: 90%;
    margin: 0 auto;
}

.fotoja img {
    height: 18em;
    padding-bottom: 2em;
}

.nestlist {
    position: relative;
    text-align: justify;
    margin-left: 40%;
    font-size: 17px;
    line-height: 1.5em;
}

.grid {
    padding: 1em;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column-gap: 0em;
    grid-row-gap: 3em;
    background: white;
    grid-auto-rows: minmax(100px, auto);
}

.grid>div {
    border-bottom: solid black 1px;
}

.mesi {
    border: 10px, solid, black;
}

.paragrafi {
    width: fr;
    word-wrap: break-word;
}

.teksti {
    font-family: Arial, Helvetica, sans-serif color: grey;
    padding: 0.2em;
    font-size: 20px;
}

.paragrafi {
    font-family: Arial, Helvetica, sans-serif
}

.teksti :visited {
    color: grey;
    text-decoration: none;
}

.teksti :link {
    color: grey;
}

.lista1 {
    position: relative;
    float: right;
    width: fit-content;
    margin-top: -2.5em;
    line-height: 1.3;
    font-size: 15px;
}

ul {
    list-style: none;
}

.bullet ul li::before {
    content: "\2022";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -0.5em;
}

.vi ul li::before {
    content: "\2012";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -0.5em;
}

.tilde ul li::before {
    content: "\007E";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -0.5em;
}

.vi-vi ul li::before {
    content: "\00BB";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -0.5em;
}

.trekendsh ul li::before {
    content: "\2023";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -0.5em;
}