
.logo{
  display: flex;
  justify-content: center;
  
}
.biblioteka{
  font-family: 'Roboto Mono', monospace;
  font-size: 19px;
  margin-top: 2em;
}
.navigationbar{
  width:80em;
  font-family: 'Roboto Mono', monospace;
  display:grid;
  justify-content: space-evenly;
 
  
  grid-template-columns: 7.7em 7em 7em 17em 6em 6em 6em 1em;
  overflow: hidden;
  
}
.navigationbar li{
  display: inline;
  color:white;
  
}

.navigationbar a {
  display:grid;
  float: left;
  color: white;
  text-align:center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
}

.navigationbar a:hover {
  text-decoration: underline;
  background-color:lightgrey;
  color: black;
  
}
.navigationbar input{
 
  width:1em;
  height:1.3em;
}

.slideshow{
  color:white;
  display:grid; 
  justify-content: center;
}

.lajmet p {
  width:15em;
  margin-left: 1.9em;
  color:white;
  font-size: 10px;
  width: 50%;
  display: inline-block;
}


.parent {
  
  margin-top:2em;
  display: grid;
  float: center;
  
  }
  
.lajmet a{
  
  width:10em;
}
  .lajmet {
    width:35em;
    float: none;
    margin-left:4em;
    grid-area: 1 / 1 / 6 / 2; 
    flex-direction:column;
  
  }
  .publikimet { grid-area: 1 / 2 / 7 / 3; }
  .katalogu { grid-area: 1 / 3 / 6 / 4; }
 
.parent a{ 
  width: 10em;
  
    display:flex;
    float: left;
    color: white;   
    font-size: 17px;
  text-decoration: none;
}

.lajmet img{
  
  margin-top: 0em;
  float: none;
  vertical-align: middle;
  width: 10em;
  height: 7em;
}
  .arbresha span{
    color:white;
    margin-top:5em;
    margin-left: 1.2em;
    width: 100%;
    font-size:1em;
    font-weight: bold;
}


.publikimet{
  color: white;
  width:20em;
  
  
 
}
.publikimet img{
  width: 5em;
  height: 5em;
}

.arbresha{
 
  column-count: 1;
}

.katalogu img{
  width: 15em;
  height: 15em;
}
  
.librat{
  margin-top: 3em;
  color: white;
  width:20em;
  
}
.librat img{
  width: 5em;
  height: 5em;
}
.katalogu{
  color: white;
  width:20em;
  margin-left:1em;
  margin-right:1em;
 
}
.info{
  margin-top: 3em;
  color: white;
  width:20em;
  
  margin-right:1em;
 
}
.info img{
  width:70%;
  height:10em;
}
.info p{
  font-size:10px;
}
.galeria{
  margin-top:3em;
  color: white;
  width:20em;
  margin-bottom: 2em;
}
.galeria img{
  width: 8em;
  height: 5em;
}

.elibraria a{
  width: 100%;
}
.elibraria p{
  width: 6em;
}
.elibraria img{
  margin-top: 2em;
  justify-content: center;
  width: 6em;
  height: 8em;
}

.footer{
  
  padding:62px 0 47px 0;
 
  color:white;
  background-color: grey;
}