#elaborimi {
  color: black;
  font-size: 0.65em;
  font-family: "Arnhem", Times, Courier, serif;
}

.djathtas a, .majtas a {
  font-family: "Arnhem", Times, Courier, serif;
}

.row {
  padding: 4em 6em 0em 6em;
  display: -webkit-flex;
  display: flex;
  column-gap: 2.5em;
}

.row2 {
  padding: 4em 6em 0em 6em;
  display: -webkit-flex;
  display: flex;
}

.majtasposht a:hover{
  transition: 0.6s ease;
}


.row5pjesepjese {
  display: grid;
  align-items: center;
}

.perberja {
  padding: 4em 6em 0em 6em;
  display: -webkit-flex;
  display: flex;
  column-gap: 2.8em;
  justify-content: space-around;
}

.subfooternalt {
  padding: 0em 8em 3em 6em;
  display: -webkit-flex;
  display: flex;
  column-gap: 2.8em;
  justify-content: space-around;
  border-bottom: 1px solid #D9D9D9;
}

.subfooternalt span {
  font-family: "Arnhem", Times, Courier, serif;
  font-size: 1.7em;
}

.subfooterposht {
  padding: 4em 3em 2em 3em;
  display: -webkit-flex;
  display: flex;
  float: left;
  column-gap: 1em;
  justify-content: space-between;
}

.sbkol2 {
  -webkit-flex: 0.2;
  float: left;
  -ms-flex: 0.2;
  flex: 0.2;
  text-align: center;
}


.futeri{
  height:9em;
  background-color: black;
}

.sbkol3{
  color:white;
  -webkit-flex: 2;
  float: left;
  -ms-flex: 2;
  flex: 2;
  text-align: center;
}

.sbkol33{
  color:white;
  -webkit-flex: 5;
  float: left;
  -ms-flex: 5;
  flex: 5;
  text-align: center;
}

.sbkol2 ul {
  list-style: none;
}

#spansbkol2 {
  
  color: black;
}

.sbkol2 ul a:link {
  text-decoration: none;
  color:black;
}

.sbkol2 ul a:visited {
  text-decoration: none;
  color: gray;
}

.sbkol2 ul a:hover {
  color: #0075ff;
}

.kolona1p {
  background-color: white;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: initial;
}

#kolona1pp {
  font-family: fontivogel;
  font-size: 1.2em;
}

.row3 {
  padding: 4em 6em 0em 6em;
  display: -webkit-flex;
  display: flex;
  column-gap: 0.5em;
  justify-content: space-around;
}

.futerimrena{
  padding: 0em 6em 0em 6em;
  display: -webkit-grid;
  display: grid;

}

.futerimamrena{
  padding: 4em 3em 2em 3em;
  display: -webkit-flex;
  display: flex;
  float: left;
  column-gap: 7em;
  align-items: center;
}

.row4, .row5, .row6 {
  padding: 4em 6em 0em 6em;
  display: -webkit-grid;
  display: grid;
}

.row6{
  background-color:#eeeeee;
}
.row4 a {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: black;
}

.shortcutposht {
  display: block;
  text-align: center;
}

.row4 a:hover {
  color: #0075ff;
  text-decoration: none;
}

.kolona1, .kolona2 {
  background-color: white;
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}

.kolona3 {
  background-color: white;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.kolonarresht {
  padding: 1.5em 0em;
  background-color: white;
  border-top: 0.5em solid #000;
  border-bottom: 0.5em solid #000;
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10;
}

.shortcuts {
  padding: 1.5em 0em;
  border-top: 0.5em solid #000;
  border-bottom: 0.5em solid black;
}

.bs {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1em;
  padding: 1.7em;
  display: grid;
  text-align: center;
}

.bestsellers {
  padding: 0em 6em 0em 6em;
  display: -webkit-flex;
  display: flex;
  column-gap: 2.5em;
}

.bestsellerstitulli {
  color: black;
  padding: 0.75em;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.libri img {
  padding-top: 0.75em;
  width: 100%;
  max-height: 15em;
}

.libri {
  background-color: white;
  -webkit-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
}

.column.side {
  background-color: white;
  -webkit-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
}

.column.middle {
  background-color: white;
  -webkit-flex: 1.4;
  -ms-flex: 1.4;
  flex: 1.4;
}

.lajmi a {
  font-family: "Arnhem", Times, Courier, serif;
  text-decoration: none;
  color: black;
  font-size: 1.75em;
}

.autori a {
  font-family: "Arnhem", Times, Courier, serif;
  text-decoration: none;
  color: black;
  font-size: 1.75em;
}

.lajmimes a {
  font-family: "Arnhem", Times, Courier, serif;
  text-decoration: none;
  color: black;
  font-size: 1.75em;
}

.autorimmv a {
  font-family: "Arnhem", Times, Courier, serif;
  text-decoration: none;
  color: black;
  font-size: 1.75em;
}

.autori img {
  border-top: 0.3em solid #000;
  padding-top: 0.85em;
  width: 70%;
  height: 70%;
}

.autorimmv img {
  border-top: 0.3em solid #000;
  padding-top: 0.85em;
  width: 100%;
  height: 100%;
}

.dantepjesepjese {
  display: flex;
  float: left;
  justify-content: space-between;
  column-gap: 1em;
}

#perdanten {
  font-size: 0.55em;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.lajmimes img {
  border-top: 0.3em solid #000;
  padding-top: 0.85em;
  width: 100%;
  height: 100%;
}

#lajmekuq {
  color: #0075ff;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  font-weight: bold;
}

#lajmekuq5 {
  color: #0075ff;
  font-family: Helvetica;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 0.35em;
  text-transform: uppercase;
}

.lajmi img {
  border-top: 0.3em solid #000;
  padding-top: 0.85em;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: fontivogel;
  src: url(klim.co.nz/retail-fonts/calibre);
}

/*SLLAJDSHOU*/

.Sllajdet {
  display: grid;
}

.slideshow-container {
  position: relative;
}

.slideshow-container img {
  height: 30em !important;
}

.mrapa, .para {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.para {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.mrapa:hover, .para:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

#fototmodal {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

body {

  font-family: Arial, Helvetica, sans-serif;
}


#fototmodal:hover {
  opacity: 0.7;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 3em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

#img {
  margin: auto;
  display: block;
  max-height: 90%;
  max-width: 25%;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#sinaniposht {
  padding-top: 0.1em;
  font-family: "Arnhem", Times, Courier, serif;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}

#katalogu {
  color: black;
  text-decoration: none;
}

#katalogu a:visited{
  text-decoration: none;
  color: black;
}

#katalogu a:link{
  text-decoration: none;
  color: black;
}

.sbkol3 a:link{
color:white;
}
.sbkol3 a:visited{
  color:white;
}
.sbkol3 a:hover{
  color:#0075ff;
}

#socialmedia{
  font-size: 2em;
}

#suxhuki{
  font-size: 0.8em;
}

/* Qitu ja nis pjesa e email input me autocomplete */

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 98%;
  height: 3em;
}

input[type=checkbox]{
  margin-top: 0.5em;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  width:24.5em;
}

.autocomplete-items div {
  padding: 0.5em;
  cursor: pointer;
  background-color: white; 
  border-bottom: 1px solid #d4d4d4; 
}

.buton {
  height: 3.6em;
  width: 10em;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #D9D9D9;
  border: none;
}

#h5 {
  margin-top: 0.5em;
  color: #0075ff;
}

.buton:hover {
  color: #0075ff;
}
