.extra{
  color:white;
}

body p,span, h1, h3, h4{
  color:white;
}

.item-1,
.item-2,
.item-3 {
  color: white;
}

.ardy {
  border:2px solid white;
  box-shadow: inline 0 0 0.2em grey;
}
.ardy p, .ardy span, .ardy li{
  color:white;
}
.lyst a, .lyst a:link{
  color:white;
}

.tekstimodal{
     background: radial-gradient(rgb(41, 41, 41), rgba(12, 12, 12, 0.877) 100%);
}

/* t homepage*/
#elaborimi {
    color: white;
    font-size: 0.65em;
    font-family: "Arnhem", Times, Courier, serif;
  }
  
  .djathtas a, .majtas a {
    font-family: "Arnhem", Times, Courier, serif;
  }
  
  .row {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.5em;
  }
  
  .row2 {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
  }
  
  .majtasposht a:hover{
    transition: 0.6s ease;
  }
  
  
  .row5pjesepjese {
    background-color: black;
    display: grid;
    align-items: center;
  }
  
  .perberja {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.8em;
    justify-content: space-around;
  }
  
  .subfooternalt {
    
    padding: 0em 8em 3em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.8em;
    justify-content: space-around;
    border-bottom: 1px solid #D9D9D9;
  }
  
  .subfooternalt span {
    font-family: "Arnhem", Times, Courier, serif;
    font-size: 1.7em;
  }
  
  .subfooterposht {
    padding: 4em 3em 2em 3em;
    display: -webkit-flex;
    display: flex;
    float: left;
    column-gap: 1em;
    justify-content: space-between;
  }
  
  .sbkol2 {
    -webkit-flex: 0.2;
    float: left;
    -ms-flex: 0.2;
    flex: 0.2;
    text-align: center;
  }
  
  .liber {
    background-color: black;
  }
  .liber img{
    border-top: 0.4em solid  rgb(46, 46, 46);
  }
  .futeri{
    height:9em;
    background-color: black;
  }
  
  .sbkol3{
    color:white;
    -webkit-flex: 2;
    float: left;
    -ms-flex: 2;
    flex: 2;
    text-align: center;
  }
  
  .sbkol33{
    color:white;
    -webkit-flex: 5;
    float: left;
    -ms-flex: 5;
    flex: 5;
    text-align: center;
  }
  
  .sbkol2 ul {
    list-style: none;
  }
  
  #spansbkol2 {
    
    color: white;
  }
  
  .sbkol2 ul a:link {
    text-decoration: none;
    color:white;
  }
  
  .sbkol2 ul a:visited {
    text-decoration: none;
    color: gray;
  }
  
  .sbkol2 ul a:hover {
    color: #0075ff;
  }
  
  .kolona1p {
    background-color: black;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: initial;
  }
  
  #kolona1pp {
      color:white;
    font-family: fontivogel;
    font-size: 1.2em;
  }
  
  .row3 {
    padding: 4em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 0.5em;
    justify-content: space-around;
  }
  
  .futerimrena{
    padding: 0em 6em 0em 6em;
    display: -webkit-grid;
    display: grid;
  
  }
  
  .futerimamrena{
    padding: 4em 3em 2em 3em;
    display: -webkit-flex;
    display: flex;
    float: left;
    column-gap: 7em;
    align-items: center;
  }
  .row5{
    background-color: black;
  }
  .row4, .row5, .row6 {
    padding: 4em 6em 0em 6em;
    display: -webkit-grid;
    display: grid;
  }
  .row6{
    z-index:900;
    background-color:#1f1f1f;
  }
  
  .row4 a {
  
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: white;
  }
  #sf{
color: rgb(110, 110, 110);
  }
  .shortcutposht {
  
    display: block;
    text-align: center;
  }
  
  .row4 a:hover {
    color: #0075ff;
    text-decoration: none;
  }
  
  .kolona1, .kolona2 {
    background-color: black;
    -webkit-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
  }
  
  .kolona3 {
    background-color: black;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .kolonarresht {
    padding: 1.5em 0em;
    background-color: black;
    border-top: 0.5em solid rgb(46, 46, 46);
    border-bottom: 0.5em solid rgb(46, 46, 46);
    -webkit-flex: 10;
    -ms-flex: 10;
    flex: 10;
  }
  
  .shortcuts {
    padding: 1.5em 0em;
    border-top: 0.5em solid rgb(46, 46, 46);
    border-bottom: 0.5em solid  rgb(46, 46, 46);
  }
  
  .bs {
      color:white;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1em;
    padding: 1.7em;
    display: grid;
    text-align: center;
  }
  
  .bestsellers {
    padding: 0em 6em 0em 6em;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.5em;
  }
  
  .bestsellerstitulli {
    color: white;
    padding: 0.75em;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
  }
  
  .libri img {
    padding-top: 0.75em;
    width: 100%;
    max-height: 15em;
  }
  
  .libri {
    background-color:black;
    -webkit-flex: 0.8;
    -ms-flex: 0.8;
    flex: 0.8;
  }
  
  .column.side {
    background-color: black;
    -webkit-flex: 0.8;
    -ms-flex: 0.8;
    flex: 0.8;
  }
  
  .column.middle {
    background-color: black;
    -webkit-flex: 1.4;
    -ms-flex: 1.4;
    flex: 1.4;
  }
  
  .lajmi a {
    font-family: "Arnhem", Times, Courier, serif;
    text-decoration: none;
    color: white;
    font-size: 1.75em;
  }
  
  .autori a {
    font-family: "Arnhem", Times, Courier, serif;
    text-decoration: none;
    color: white;
    font-size: 1.75em;
  }
  
  .lajmimes a {
    font-family: "Arnhem", Times, Courier, serif;
    text-decoration: none;
    color: white;
    font-size: 1.75em;
  }
  
  .autorimmv a {
    font-family: "Arnhem", Times, Courier, serif;
    text-decoration: none;
    color: white;
    font-size: 1.75em;
  }
  
  .autori img {
    border-top: 0.3em solid rgb(46, 46, 46);
    padding-top: 0.85em;
    width: 70%;
    height: 70%;
  }
  
  .autorimmv img {
    border-top: 0.3em solid  rgb(46, 46, 46);
    padding-top: 0.85em;
    width: 100%;
    height: 100%;
  }
  
  .dantepjesepjese {
    display: flex;
    float: left;
    justify-content: space-between;
    column-gap: 1em;
  }
  
  #perdanten {
    font-size: 0.55em;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .lajmimes img {
    border-top: 0.3em solid  rgb(46, 46, 46);
    padding-top: 0.85em;
    width: 100%;
    height: 100%;
  }
  
  #lajmekuq {
    color: #0075ff;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
  }
  
  #lajmekuq5 {
    color: #0075ff;
    font-family: Helvetica;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 0.35em;
    text-transform: uppercase;
  }
  
  .lajmi img {
    border-top: 0.3em solid  rgb(46, 46, 46);
    padding-top: 0.85em;
    width: 100%;
    height: 100%;
  }
  
  @font-face {
    font-family: fontivogel;
    src: url(klim.co.nz/retail-fonts/calibre);
  }
  
  /*SLLAJDSHOU*/
  
  .Sllajdet {
    display: grid;
  }
  
  .slideshow-container {
    position: relative;
  }
  
  .slideshow-container img {
    height: 30em !important;
  }
  
  .mrapa, .para {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .para {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .mrapa:hover, .para:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  #fototmodal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  #myInput{
      background-color: #bbb;
      z-index: 999;
  }
  
  #fototmodal:hover {
    opacity: 0.7;
  }
  
  #myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  #img {
    margin: auto;
    display: block;
    max-height: 90%;
    max-width: 25%;
  }
  
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0)
    }
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  #sinaniposht {
      color:white;
    padding-top: 0.1em;
    font-family: "Arnhem", Times, Courier, serif;
    font-size: 1.4em;
    letter-spacing: 0.1em;
  }

  #sinanibardh{
    filter: invert(100%);
  }
  #katalogu {
    color: white;
    text-decoration: none;
  }
  
  #katalogu a:visited{
    text-decoration: none;
    color: white;
  }
  
  #katalogu a:link{
    text-decoration: none;
    color: white;
  }
  
  .sbkol3 a:link{
  color:white;
  }
  .sbkol3 a:visited{
    color:white;
  }
  .sbkol3 a:hover{
    color:#0075ff;
  }
  
  #socialmedia{
    font-size: 2em;
  }
  
  #suxhuki{
    font-size: 0.8em;
  }
  
  /* Qitu ja nis pjesa e email input me autocomplete */
  
  .autocomplete {
    position: relative;
    display: inline-block;
  }
/* t autoreve jon qito */
  .cift {
    color: white;
}

.tek {
    background-color: grey;
    color: white;
    font-weight: bold;
}
.flip-card-front, .flip-card-back{
  background-color: #121212;
}
  
.container {
  background-color: black;
}


/* te pergjitshme*/
  input {
    border: 1px solid transparent;
    background-color: white;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 98%;
    height: 3em;
  }
  
  input[type=checkbox]{
    margin-top: 0.5em;
  }
  #perdite {
    font-size: 1em;
    margin-left: 0.5em;
    color:white;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    width:24.5em;
  }
  
  .autocomplete-items div {
    padding: 0.5em;
    cursor: pointer;
    background-color: white; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .homepage{
    background-color: black;
  }
  .buton {
    height: 3.6em;
    width: 10em;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#949494;
    border: none;
  }
  
  #h5 {
    margin-top: 0.5em;
    color: #0075ff;
  }
  
  .buton:hover {
    color: #0075ff;
  }
  

  /*kontakti*/
  .shtyllaa1, .shtyllaa2 {
    background-color: black;
  }

  .formulari {
    background-color:  #525151;
  }
  #drag1{
    filter: invert(100%);
  }
  label{
color:white;
  }
  #border-image{
  color: black;
  }

  .hapeHarten, .hapeVideon, .mbylleHarten, .mbylleVideon{
    background-color: #949494;
  }
  td, tr{
    color:white;
  }
  th, #headerr{
    background-color:#949494;
  }
  textarea, #dataora{
    background-color:#949494;
  }
  #mesazhi{
    background-color:white;
  }

  .psww:hover{
color: #0075ff;
  }
  .tekstikolona{
    color:white;
  }

  .form-group {
    padding-bottom: 15px;
}
/* stilizimi i buttonit delete  */

.deleteBtn {
    background-color: #0077ffa6;
    color: whitesmoke;
    width: 3.5em;
    border-radius: 3em;
}

.styled-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 95%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table th{
  background-color:rgb(41, 41, 41);
}
.styled-table td{
  background-color:rgb(80, 80, 80);
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


 /* forma 40%   tabela 60% */
 

h1 {
  padding-left: 10px;
}

.tittle {
  padding-left: 20px;
}

.form-group label {
  font-family: sans-serif;
}
/* id e formes */

#addForm {
  padding: 20px;
  display: block
}
/* stilizimi i divit t msheft per error */

.error {
  color: #ff0000;
  font-family: sans-serif;
  font-size: small;
}
/* styling per inputin e emrit dates edhe id  */

#addForm input[type="text"] {
  width: 65%;
  padding: 10px;
}

#addForm input[type="date"] {
  width: 65%;
  padding: 10px;
}

#addForm input[type="number"] {
  width: 65%;
  padding: 10px;
}
/* ja hek formes t ID do arrows qe i dalin */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bullet{
  color:white;
}
.grid{
  background-color: black;
}
li, dd{
  color:white;
}
hr{
  color:grey;
}