* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.pjesa1{
  background-image: url(https://www.macmillandictionary.com/external/slideshow/thumb/White_thumb.png),
  url(https://www.kindpng.com/picc/m/237-2377415_transparent-reading-fluency-clipart-open-book-icon-creative.png);
  background-size:100em, 2em;
  background-repeat: no-repeat, repeat-x;
  background-position-x: 100em, 10em;
  background-position-y: 100em, 0em;
  height: 28em;
}

.rreshtii{
  padding: 2em 8em 0em 8em;
  display: -webkit-flex;
  display: flex;
  justify-content:space-evenly;
  column-gap: 2.5em;
}
#border-image{
  border: 1em solid grey;
  padding-top:0.5em;
  border-image: url(https://i.pinimg.com/originals/29/91/98/299198bc40aeba89f89d1d9e9c0dfb15.png) 100 round;
}
.shtyllaa1{
  background-color: white;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  float:left;
}
  .shtyllaa2 {
    background-color: white;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.tabela {
  padding: 2em;
  font-family: 'M PLUS 1p', sans-serif;
}

table {
  border-collapse: seperate;
  width: 100%;
  height: 200px;
  border: 5px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
  transition: all .2s ease-in;
  cursor: pointer;
}

th,
td {
  spacing: 10px;
  border: 2px solid grey;
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

h1 {
  font-weight: 600;
  text-align: center;
  background-color:  #0075ff;
  color: #fff;
  padding: 10px 0px;
}

tr:hover {
  transform: scale(1.02);
}

.formulari {
  background-color:  #eeeeee;
}

.banner {
  position: relative;
  bottom: 19em;
  text-shadow: 0.2em 0.2em rgba(44, 36, 36, 0.199)
}

.sinanibabo {
  display: flex;
  justify-content: center;
}

#drag, #drop {
  align-items: center;
  float: left;
  width: 10em;
  height: 10em;
  padding: 2em 0.9em;
  margin: 2em 2em 2em 2em;
  border: 1px solid grey;
}
#drag img, #drop img{
  width: 8em;
  height: 6em;
}

.logoja {
  display: inline-grid;
  justify-content: center;
}

.titulli {
  color: white;
  font-size: 1.45em;
}

.titulli:hover {
  color: #0075ff;
}

#headerr {
  background-color: #bbbbbb;
  height: 1.25em;
  color: white;
  text-decoration: none;
}

.videoo{
  box-shadow: 0.5em 1em rgba(128, 128, 128, 0.075);
}

.djathtas {
  display: grid;
  align-content: space-between;
}

.majtas {
  align-content: space-between;
  display: grid;
}

.djathtas a, .majtas a {
  font-family: "Arnhem", Times, Courier, serif;
}

.majtasposht a:hover {
  transition: 0.6s ease;
}

.faqjaa {
  padding: 4em 6em 0em 6em;
  display: -webkit-flex;
  display: flex;
  column-gap: 2.5em;
}

.shtylla {
  background-color: white;
  -webkit-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
}

.kontenti1 img {
  border-top: 0.3em solid #000;
  padding-top: 0.85em;
  width: 100%;
  height: 100%;
}

.kontenti1 a {
  font-family: "Arnhem", Times, Courier, serif;
  text-decoration: none;
  color: black;
  font-size: 1.75em;
}

.row5pjesepjese {
  display: grid;
  align-items: center;
}

.subfooternalt {
  padding: 0em 8em 3em 6em;
  display: -webkit-flex;
  display: flex;
  column-gap: 2.8em;
  justify-content: space-around;
  border-bottom: 1px solid #D9D9D9;
}

.subfooternalt span {
  font-family: "Arnhem", Times, Courier, serif;
  font-size: 1.7em;
}

#emailinput {
  width: 16.7em;
  height: 2em;
}

.perberja {
  padding: 4em 6em 0em 6em;
  display: -webkit-flex;
  display: flex;
  column-gap: 2.8em;
  justify-content: space-around;
}

#emailform {
  display: flex;
  float: left;
}

.dergo {
  padding-left: 1em;
}

input[type="reset"]:hover {
  color: #0075ff;
}

input[type="submit"]:hover {
  color: #0075ff;
}

input[type=email] {
  font-size: 1.5em;
}

.buton {
  height: 3.6em;
  width: 10em;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #D9D9D9;
  border: none;
}

#h5 {
  margin-top: 0.5em;
  color: #0075ff;
}

.buton:hover {
  color: #0075ff;
}

#emailinput::placeholder {
  font-size: 1em;
  padding-left: 0.5em;
}

.subfooterposht {
  padding: 4em 3em 2em 3em;
  display: -webkit-flex;
  display: flex;
  float: left;
  column-gap: 1em;
  justify-content: space-between;
}

.sbkol2 {
  -webkit-flex: 0.2;
  float: left;
  -ms-flex: 0.2;
  flex: 0.2;
  text-align: center;
}

.futeri {
  height: 9em;
  background-color: black;
}

.sbkol3 {
  color: white;
  -webkit-flex: 2;
  float: left;
  -ms-flex: 2;
  flex: 2;
  text-align: center;
}

.sbkol33 {
  color: white;
  -webkit-flex: 5;
  float: left;
  -ms-flex: 5;
  flex: 5;
  text-align: center;
}

.sbkol2 ul {
  list-style: none;
}

#spansbkol2 {
  color: black;
}

.sbkol2 ul a:link {
  text-decoration: none;
  color: black;
}

.sbkol2 ul a:visited {
  text-decoration: none;
  color: gray;
}

.sbkol2 ul a:hover {
  color: #0075ff;
}

.kolona1p {
  background-color: white;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: initial;
}

#kolona1pp {
  font-family: fontivogel;
  font-size: 1.2em;
}

.futerimrena {
  padding: 0em 6em 0em 6em;
  display: -webkit-grid;
  display: grid;
}

#lajmekuq5 {
  color: #0075ff;
  font-family: Helvetica;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 0.35em;
  text-transform: uppercase;
}

.futerimamrena {
  padding: 4em 3em 2em 3em;
  display: -webkit-flex;
  display: flex;
  float: left;
  column-gap: 7em;
  align-items: center;
}

.row4, .row5, .row6 {
  padding: 4em 6em 0em 6em;
  display: -webkit-grid;
  display: grid;
}

.row4 a {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: black;
}

.shortcutposht {
  display: block;
  text-align: center;
}

.row4 a:hover {
  color: #0075ff;
  text-decoration: none;
}

.kolona1 {
  background-color: white;
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}

.shortcuts {
  padding: 1.5em 0em;
  border-top: 0.5em solid #000;
  border-bottom: 0.5em solid black;
}

.bs {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1em;
  padding: 1.7em;
  display: grid;
  text-align: center;
}

@font-face {
  font-family: fontivogel;
  src: url(klim.co.nz/retail-fonts/calibre);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#sinaniposht {
  padding-top: 0.1em;
  font-family: "Arnhem", Times, Courier, serif;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}

#katalogu {
  color: black;
  text-decoration: none;
}

.sbkol3 a:link {
  color: white;
}

.sbkol3 a:visited {
  color: white;
}

.sbkol3 a:hover {
  color: #0075ff;
}

#socialmedia {
  font-size: 2em;
}

#suxhuki {
  font-size: 0.8em;
}

.topnav {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  z-index: 900;
  top: 0;
  padding: 0px;
  background-color: black;
  border: 2px solid;
}

.topnav a {
  font-size: 1.45em;
  color: #f2f2f2;
  padding: 0 30px;
  text-decoration: none;
}

.topnav a:hover {
  color: #0075ff;
}

.djathtasposht a.menu-item {
  transform: scale(1);
  display: inline-block;
  transition: 0.5s;
}

.djathtasposht a.menu-item.hide-item {
  transform: scale(0);
}

#one {
  transition-delay: 0.2s;
}

#two {
  transition-delay: 0.1s;
}

#three {
  transition-delay: 0s;
}

.search-form {
  position: absolute;
  top: 8em;
  right: 28em;
  transform: translateX(-50%);
  width: 2em;
  height: 1em;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
}
.hapeHarten, .hapeVideon, .mbylleHarten, .mbylleVideon {
  height: 3.6em;
  width: minmax(10em, auto);
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:  #D9D9D9;;
  border: none;
}

 .mbylleVideon:hover {
  color: #0075ff;
}

.mbylleHarten:hover {
 color: #0075ff;
}

.hapeHarten:hover {
 color: #0075ff;
}

.hapeVideon:hover {
 color: #0075ff;
}

.search-form.active {
  position: absolute;
  top: 8em;
  right: 28em;
  width: 2em;
  height: 1em;
  opacity: 1;
  transition-delay: 0.4s;
  visibility: visible;
  background: transparent;
}

.search-form input {
  width: 20em;
  height: 1.5em;
  color: white;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1em;
}

#id, #emri, #mbiemri{
  size: 30;
}

/*subfooter form*/

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 98%;
  height: 3em;
}

input[type=checkbox]{
  margin-top: 0.5em;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 0.5em;
  cursor: pointer;
  background-color: white; 
  border-bottom: 1px solid #d4d4d4; 
}

